{% load i18n %}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Sustainable Urban Design Space</a>

    <form class="form-inline ml-auto mr-2">
        <button class="btn btn-outline-success nav-item">{% trans "Login/Signup" %}</button>
    </form>

    <form action="{% url 'set_language' %}" method="post" class="form form-inline">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language" class="form-control">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
            {% endfor %}
        </select>

        <input type="submit" value="Go" class="btn btn-default">
    </form>
</nav>