{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>
        <span>
            Places
        </span>
        <a class="btn btn-outline-primary btn-sm ml-auto" href="{% url 'place_create_view' %}">
            Create new
        </a>
    </h1>
    
    {% if places %}
        <ul class="row">
            {% for place in places %}

            <div class="col col-md-4">
                <div class="card text-center h-100">
                    <div class="card-header">
                        {{ place.name }}
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text">{{ place.description }}</p>
                        
                        <div class="buttons mt-auto">

                            <a 
                                class="card-link btn btn-outline-primary"
                                href="{% url 'place_view' place.pk %}">
                                View
                            </a>
                            <a 
                                class="card-link btn btn-outline-primary"
                                href="{% url 'place_update_view' place.pk %}">Edit</a>
                        
                        </div>
                    </div>

                    <div class="card-footer text-muted">
                        {{ place.projects.count }} sub-project(s)
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    {% else %}
    <p>No places found.</p>
    {% endif %}
</div>
{% endblock %}
