{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    {% include "maps/openlayers.html" %}
    <div class="container">
        <form action="." method="POST">
            {% csrf_token %}
            <h1>
                {% if place %}
                    <span>Edit place</span>
                {% else %}
                    <span>Create place</span>
                {% endif %}

                <button type="submit" class="btn btn-sm btn-outline-success ml-auto">
                    Save
                </button>
            </h1>        

            <div class="row">
                <div class="col">
                    {{ form | crispy }}

                    <div class="col">
                        {% include "maps/area_map.html" with editmode="true" geographic_area=place.geographic_area %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
