{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="container">

    <h1>{{ pattern.title }}</h1>

    {{ pattern.description | richtext}}

    {% if pattern.gallery_images.all %}
        <h2>Gallery</h2>
        {% for gallery_image in pattern.gallery_images.all %}
            <div class="m-2">
                {% image gallery_image.image fill-320x240 alt=gallery_image.alt %}
            </div>
        {% endfor %}
    {% endif %}

    {% if pattern.tags.all.count %}
    <div class="tags">
        <h2>Tags</h2>
        {% for tag in pattern.tags.all %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="btn btn-outline-primary btn-sm">
                {{ tag }}
            </a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}