{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <h1>
            {% trans "Urban design patterns" %}
        </h1>
        <button type="button" class="btn btn-outline-primary btn-sm ml-auto" data-toggle="modal" data-target="#create-pattern-modal">
            {% trans "Add pattern" %}
        </button>
    </div>

    {% for design_pattern in design_patterns %}

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between">
            <a href="{% url 'pattern_view' design_pattern.pk %}">
                {{ design_pattern.title }}
            </a>

            {% if design_pattern.keywords %}
                <div class="ml-auto">
                    {% for keyword in design_pattern.keywords.all %}
                        <span class="badge badge-light text-dark ml-1">{{ keyword }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </li>
    </ul>

    {% empty %}
    <p>
        {% trans "No design patterns found. Please add one." %}
    </p>
    {% endfor %}
</div>

<div class="modal fade" id="create-pattern-modal" tabindex="-1" role="dialog" aria-labelledby="create-pattern-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-pattern-modal-label">
                    {% trans "Create pattern" %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                <div class="modal-body">                  
                    {% csrf_token %}
                    {{ pattern_form | crispy }}                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        {% trans "Close" %}
                    </button>
                    <button type="submit" class="btn btn-primary">
                        {% trans "Save" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}