######################################
# Edit this file and copy it as .env
######################################

# Main Database:
DATABASE_URL=postgres://<LOGIN>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>

# Open Street Maps Database
DATABASE_OSM_URL=postgres://<LOGIN_OSM>:<PASSWORD_OSM>@<HOST_OSM>:<PORT_OSM>/<DATABASE_OSM>
