{% load i18n %}
{% load account %}

{% user_display user as user_display %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary pb-0">
    <a class="navbar-brand mb-1" href="/">Sustainable Urban Design Space</a>

    {% if user.is_authenticated %}
    <span class="navbar-text text-light font-italic">
        {% blocktrans %}Welcome, {{ user_display }}.{% endblocktrans %}
    </span>
    {% else %}

    <span class="navbar-text font-italic">{% trans "An urban designer's best friend." %}</span>
    {% endif %}

    <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#navbar-collapse-section"
        aria-controls="navbarnavbar-collapse-sectionText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse-section">
        <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="{% url 'places_list' %}">
                    {% trans "Places" %}
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="{% url 'projects_list' %}">
                    {% trans "Projects" %}
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="{% url 'patterns_list' %}">
                    {% trans "Patterns" %}
                </a>
            </li>
        </ul>

        {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}" class="btn btn-primary mr-2 mb-1">
            {% trans "Logout" %}
        </a>
        {% else %}
        <a href="{% url 'account_login' %}" class="btn btn-primary ml-auto mr-2 mb-1">
            {% trans "Login/Signup" %}
        </a>
        {% endif %}

        <form action="{% url 'set_language' %}" method="post" class="form-inline mb-1">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" class="form-control mr-sm-2" />
            <select name=" language" onclick="Bonjour" class="form-control mr-sm-2">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected="selected"
                    {% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
                {% endfor %}
            </select>
            <input type="submit" value="Translate" class="btn btn-outline-secondary" />
        </form>
    </div>
</nav>