{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    {% include "maps/openlayers.html" %}
    <div class="container">
        <form action="." method="POST">
            {% csrf_token %}
            <h1>
                {% if user_profile %}
                    <span>Edit profile</span>
                {% else %}
                    <span>Create profile</span>
                {% endif %}

                {{ form | crispy }}

                <button type="submit" class="btn btn-sm btn-outline-success ml-auto">
                    Save
                </button>
            </h1>      
        </form>
    </div>
{% endblock content %}
