{% block content %}
<div id="q-app">

    <q-layout>
        <q-page-container>
            <q-header class="bg-primary text-white" height-hint="98">
                <q-toolbar>
                    <q-toolbar-title>
                        <q-avatar color="bg-primary" text-color="white" icon="location_city" font-size="0.8em">
                        </q-avatar>
                        <span>Sustainable Urban Design</span>
                    </q-toolbar-title>
                </q-toolbar>
            </q-header>

            <q-drawer show-if-above :mini="miniState" :width="200" :breakpoint="500" bordered>
                <q-scroll-area class="fit">
                    <q-list padding>
                        <q-expansion-item id="identity" group="somegroup" icon="shopping_cart" label="Food"
                            @show="switchMode">
                            <q-card>
                                <q-card-section>
                                    <q-input label="Buffer distance" v-model.number="bufferDistance" type="number"
                                        :dense="false"></q-input>

                                    <q-select v-model="bufferUnits" :options="bufferUnitsOptions" label="Units"
                                        stack-label :dense="false" :options-dense="false"></q-select>
                                </q-card-section>
                            </q-card>
                        </q-expansion-item>

                        <q-expansion-item id="identity" group="somegroup" icon="eco" label="Environment"
                            @show="switchMode">
                            <q-card>
                                <q-card-section>
                                    Environment goals.
                                </q-card-section>
                            </q-card>
                        </q-expansion-item>
                    </q-list>
                </q-scroll-area>
            </q-drawer>


            <q-page class="flex">

                <vl-map :load-tiles-while-animating="true" :load-tiles-while-interacting="true"
                    data-projection="EPSG:4326">
                    <vl-view :zoom.sync="zoom" :center.sync="center"></vl-view>

                    <vl-layer-tile id="osm">
                        <vl-source-osm></vl-source-osm>
                    </vl-layer-tile>

                    <div v-if="osmData">
                        <vl-layer-vector v-if="osmData.features">
                            <vl-source-vector :features="osmData.features"></vl-source-vector>

                            <vl-style-box>
                                <vl-style-circle :radius="5">
                                    <vl-style-fill color="green"></vl-style-fill>
                                    <vl-style-stroke color="white"></vl-style-stroke>
                                </vl-style-circle>
                            </vl-style-box>
                        </vl-layer-vector>
                    </div>

                    <vl-feature v-if="union">
                        <vl-geom-multi-polygon :coordinates="union"></vl-geom-multi-polygon>
                    </vl-feature>
                </vl-map>
            </q-page>
        </q-page-container>
    </q-layout>

</div>
{% endblock content %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
    type="text/css">
<link href="https://cdn.jsdelivr.net/npm/quasar@1.14.0/dist/quasar.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://unpkg.com/vuelayers/lib/style.css">

<style>
    .vl-map {
        /* Subtract height of nav menu */
        height: calc("100vh - 50px");
        position: absolute;
    }
</style>
{% endblock extra_css %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quasar@1.14.0/dist/quasar.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v5.3.0/build/ol.js"></script>
<script src="https://unpkg.com/vuelayers/lib/index.umd.js"></script>
<script src="/static/js/polygon-clipping.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.6/turf.min.js"
    integrity="sha512-siRTCNQkkHmxAwPkDt8P/TUrtxSBTSxGyD2G+uliEjS7b5uLjAPgQxIwO6JWPaTQ8doAfBHcHPMut84oNdT/2g=="
    crossorigin="anonymous"></script>

<script>
    new Vue({
        el: '#q-app',
        data: function () {
            return {
                center: [23.761, 61.4978],
                zoom: 10,
                osmData: undefined,
                right: false,
                miniState: false,
                bufferDistance: 1,
                bufferUnits: "kilometers",
                bufferUnitsOptions: ["kilometers", "miles"]
            }
        },
        methods: {
            switchMode: function (event) {
                console.log(event.target.parentElement.parentElement.parentElement.parentElement.id)
            }
        },
        mounted() {
            fetch("/openstreetmap/data")
                .then(response => response.json())
                .then((data) => {
                    if (data != undefined) {
                        this.osmData = data;
                    }
                });
        },
        computed: {
            buffers: function () {
                if (this.osmData != undefined) {
                    const buffers = turf.buffer(this.osmData, this.bufferDistance, {
                        units: this.bufferUnits,
                    });

                    return buffers;
                }

                return undefined;
            },
            union: function () {
                if (this.buffers != undefined) {
                    const bufferPolygons = this.buffers.features.map(function (buffer) {
                        return buffer.geometry.coordinates;
                    });

                    const union = polygonClipping.union(...bufferPolygons);

                    return union;
                }

                return undefined;
            },
        },
    })
</script>
{% endblock extra_js %}