{% extends "base.html" %}
{% block content %}
<div id="vue-app">
    <div class="row h-100 p-0 m-0">
        <div class="col-sm-3 col-md-4 col-lg-2 p-0" style="background-color: rgba(0,0,0,0.03)">
            {% include "projects/project_goals_sidebar.html" %}
        </div>
        <div class="col-sm-9 col-md-8 col-lg-10 p-0">
            {% include "projects/project_goals_map.html" %}
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/vuelayers/lib/style.css">

<style>
    #vue-app {
        /* For some reason, height of 100% adds browser sidebar */
        height: 99%
    }
</style>
{% endblock extra_css %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v5.3.0/build/ol.js"></script>
<script src="https://unpkg.com/vuelayers/lib/index.umd.js"></script>
<script src="/static/js/polygon-clipping.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.6/turf.min.js"
    integrity="sha512-siRTCNQkkHmxAwPkDt8P/TUrtxSBTSxGyD2G+uliEjS7b5uLjAPgQxIwO6JWPaTQ8doAfBHcHPMut84oNdT/2g=="
    crossorigin="anonymous"></script>

<script>
    new Vue({
        el: '#vue-app',
        data: function () {
            return {
                center: [23.761, 61.4978],
                zoom: 10,
                osmData: undefined,
                right: false,
                miniState: false,
                bufferDistance: 1,
                bufferUnits: "kilometers",
                bufferUnitsOptions: ["kilometers", "miles"]
            }
        },
        methods: {
            switchMode: function (event) {
                console.log(event.target.parentElement.parentElement.parentElement.parentElement.id)
            }
        },
        mounted() {
            fetch("/openstreetmap/data")
                .then(response => response.json())
                .then((data) => {
                    if (data != undefined) {
                        this.osmData = data;
                    }
                });
        },
        computed: {
            buffers: function () {
                if (this.osmData != undefined) {
                    const buffers = turf.buffer(this.osmData, this.bufferDistance, {
                        units: this.bufferUnits,
                    });

                    return buffers;
                }

                return undefined;
            },
            union: function () {
                if (this.buffers != undefined) {
                    const bufferPolygons = this.buffers.features.map(function (buffer) {
                        return buffer.geometry.coordinates;
                    });

                    const union = polygonClipping.union(...bufferPolygons);

                    return union;
                }

                return undefined;
            },
        },
    })
</script>
{% endblock extra_js %}