{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div id="vue-app">
    <div class="row h-100 p-0 m-0">
        <div class="col-sm-3 col-md-4 col-lg-2 p-0" style="background-color: rgba(0,0,0,0.03)">
            {% include "projects/project_goals_sidebar.html" %}
        </div>
        <div class="col-sm-9 col-md-8 col-lg-10 p-0">
            {% include "projects/project_goals_map.html" %}
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_css %}
{% include "projects/vuelayers_css.html" %}

<style>
    #vue-app {
        /* For some reason, height of 100% adds browser sidebar */
        height: 99%
    }
</style>
{% endblock extra_css %}

{% block extra_js %}
{% include "projects/vue_js.html" %}
{% include "projects/vuelayers_js.html" %}
<script src="https://cdn.jsdelivr.net/npm/polygon-clipping@0.15.1/dist/polygon-clipping.umd.min.js" integrity="sha256-RwhCucRBWdKThr4SpcJz8FtlC5GvpOSLveQOWiXJObw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.6/turf.min.js"
    integrity="sha512-siRTCNQkkHmxAwPkDt8P/TUrtxSBTSxGyD2G+uliEjS7b5uLjAPgQxIwO6JWPaTQ8doAfBHcHPMut84oNdT/2g=="
    crossorigin="anonymous"></script>

<script>
    let lon = "{{ object.geographic_area.centroid.x|default:'23.761' }}";                                   
    let lat = "{{ object.geographic_area.centroid.y|default:'61.4978' }}";
    let km = "{% trans 'kilometers' %}";
    let mi = "{% trans 'miles' %}";
    let url_fetch_osm = "{% url 'get_osm_data' %}";
    new Vue({
        el: '#vue-app',
        data: function () {
            return {
                center: [lon, lat],
                zoom: 10,
                osmData: undefined,
                right: false,
                miniState: false,
                bufferDistance: 1,
                bufferUnits: km,
                bufferUnitsOptions: [km, mi],
                isFetching: false,
            }
        },
        methods: {
            switchMode: function (event) {
                console.log(event.target.parentElement.parentElement.parentElement.parentElement.id)
            },
            onMapPostCompose({ vectorContext, frameState }) {
            },
            fetchOsmData: function () {
                this.isFetching = true;
                let map = this.$refs.map.$map;
                let url = url_fetch_osm;
                let currentExtent = map.getView().calculateExtent(map.getSize());
                let projectionCode = map.getView().getProjection().getCode();
                let transformExtent = ol.proj.transformExtent(currentExtent, projectionCode, 'EPSG:4326');
                url += "?ext=" + transformExtent.toString()
                //console.log(url);
                fetch(url)
                    .then(response => response.json())
                    .then((data) => {
                        if (data.features) {
                            this.osmData = data;
                        } else {
                            console.log("There is no features")
                        }
                        this.isFetching = false;
                    });               
            },            
            onMapMoveStart() {
                
            },
            onMapMoveEnd() {                                                
                if (this.isFetching) {
                    return
                }
                this.fetchOsmData();                
            },
            onMapMounted() {                
                // now ol.Map instance is ready and we can work with it directly                     
                this.$refs.map.$map.getControls().extend([
                    new ol.control.ScaleLine(),
                    new ol.control.FullScreen(),
                    new ol.control.OverviewMap({
                        collapsed: true,
                        collapsible: true,
                    }),
                    new ol.control.ZoomSlider(),
                ]);
                this.$refs.map.$map.updateSize();                                    
            },
            onMapClicked(e) {
                console.log(e.coordinate);
            },
        },
        mounted() {           
            
        },
        computed: {
            buffers: function () {
                if (this.osmData != undefined) {
                    const buffers = turf.buffer(this.osmData, this.bufferDistance, {
                        units: this.bufferUnits,
                    });

                    return buffers;
                }

                return undefined;
            },
            union: function () {
                if (this.buffers != undefined) {
                    const bufferPolygons = this.buffers.features.map(function (buffer) {
                        return buffer.geometry.coordinates;
                    });

                    const union = polygonClipping.union(...bufferPolygons);

                    return union;
                }

                return undefined;
            },
        },
    })
</script>
{% endblock extra_js %}