{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-3">
  <div class="d-flex align-items-center">
    <span class="material-icons text-muted">
      place
    </span>

    <a href="{{ project.administrative_division.get_absolute_url }}">
        {{ project.administrative_division }}
    </a>
  </div>

  <h1>
    <span>
      {{ project.title }}
    </span>
    <a href="{% url 'project_update_view' project.pk %}" class="btn btn-sm btn-outline-primary">
      Edit
    </a>
  </h1>

  <p>
    {{ project.description }}
  </p>

  {% include "maps/area_map.html" with geographic_area=project.geographic_area %}
</div>
{% endblock %}
