{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-3">
    <h2>{{ project.title }}</h2>

    {{ project.description }}

    <div id="map" class="map"></div>
</div>
{% endblock %}

{% block extra_css %}
{% include "projects/openlayers_css.html" %}
<style>
.map {
    width: 100%;
    height:400px;
}
</style>
{% endblock extra_css %}

{% block extra_js %}
{% include "projects/openlayers_js.html" %}

<!-- Pointer events polyfill for old browsers, see https://caniuse.com/#feat=pointer -->
<script src="https://unpkg.com/elm-pep"></script>

<script src="/static/projects/project_extent_map.js"></script>
{% endblock extra_js %}