{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <h1>
            Projects
        </h1>
        <button type="button" class="btn btn-outline-primary btn-sm ml-auto" data-toggle="modal" data-target="#create-project-modal">
            Create project
        </button>
    </div>
    
    {% if projects %}
        <ul>
        {% for project in projects %}
        <div class="card col-md-4">
            <div class="card-body">
                <h2 class="card-title">{{ project.title }}</h2>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_view' project.pk %}" class="card-link">
                    View project
                </a>
                <a href="{% url 'project_goals_view' project.pk %}" class="card-link">Edit project goals</a>
            </div>
        </div>
        {% endfor %}
    </ul>
    {% else %}
    <p>No projects found.</p>
    {% endif %}
</div>

<div class="modal fade" id="create-project-modal" tabindex="-1" role="dialog" aria-labelledby="create-project-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-project-modal-label">Create project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                <div class="modal-body">
                    {{ project_form.media }}
                    
                    {% csrf_token %}
                    {{ project_form | crispy }}                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
